
 </div>
      </div>

    <div>

    <div class="container">
    <hr>
      <footer class="footer" >
        <div class="pull-right">
          <div>sails test developed by <a href="https://github.com/doduneves">Eduardo Neves</a></div>
        </div>
      </footer>
    </div>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
