
 </div>
      </div>

    <div>

    <div class="container">
    <hr>
      <footer class="footer">
        <div class="pull-right">
          <div>sails test developed by Eduardo Neves</div>
        </div>
      </footer>
    </div>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
