<h2>New User</h2>
<form action="/user/create" method="POST">

	<label for="name">Username</label>
	<input type="text" name="User[name]"><br/>

	<label for="email">Email</label>
	<input type="email" name="User[email]"><br/>

	<label for="password">Password</label>
	<input type="password" name="User[password]"><br/>

	<input type="submit"/>

</form>

<a href="/user">Back</a>
