<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top ">
      <div class="container">
        <a class="navbar-brand" href="/">Sails Basics</a>
      </div>
    </div>


    <div class="mt-5">
    
      <div>
        <%= req.flash('message') %>
      </div>

      <div class="container">
        <div class="jumbotron">